<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="addCard()">Add group</button>
    <button class="btn btn-outline" (click)="clear()">Clear</button>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div *ngFor="let group of groups" class="col-xs-12">
      <div class="card">
        <div class="card-header">
          Flexbox properties <span class="badge">group {{ group.id }}</span>
        </div>
        <div class="card-block">
          <div class="card-text">
            <app-flexyboxes-options [title]="'flex-direction'" [options]="['row', 'row-reverse', 'column', 'column-reverse']" [selected]="'row'"
              (selectedValue)="group.flexDirection = $event">
            </app-flexyboxes-options>
            <app-flexyboxes-options [title]="'wrap'" [options]="['nowrap', 'wrap', 'wrap-reverse']" [selected]="'wrap'" (selectedValue)="group.flexWrap = $event">
            </app-flexyboxes-options>
            <app-flexyboxes-options [title]="'justify-content'" [options]="['flex-start', 'flex-end', 'center', 'space-between', 'space-around']"
              [selected]="'flex-start'" (selectedValue)="group.justifyContent = $event">
            </app-flexyboxes-options>
            <app-flexyboxes-options [title]="'align-items'" [options]="['flex-start', 'flex-end', 'center', 'baseline', 'stretch']" [selected]="'stretch'"
              (selectedValue)="group.alignItems = $event">
            </app-flexyboxes-options>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link" (click)="removeCard(group.id)"><clr-icon shape="info-circle"></clr-icon> Remove</button>
          <app-flexyboxes-wizard [id]="group.id" (finish)="addItem(group, $event)"></app-flexyboxes-wizard>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
    <form>
      <section class="form-block">
        <div *ngFor="let group of groups" class="form-group row" [style.flex-direction]="group.flexDirection" [style.flex-wrap]="group.flexWrap"
          [style.justify-content]="group.justifyContent" [style.align-items]="group.alignItems">

          <div *ngFor="let item of group.items" class="col-lg-{{ item.size }} col-md-{{ item.size }} col-sm-{{ item.size }} col-xs-{{ item.size }}" [ngSwitch]="item.type" [style.order]="item.order" [style.flex-grow]="item.flexGrow"
            [style.flex-shrink]="item.flexShrink" [style.flex-basis]="item.flexBasis">
            <label *ngSwitchCase="'label'">{{ item.text }}</label>
            <input *ngSwitchCase="'text'" class="form-control" type="text" placeholder="{{ item.text }}">
            <input *ngSwitchCase="'number'" class="form-control" type="number" placeholder="{{ item.text }}">
            <button *ngSwitchCase="'button'" type="submit" class="btn btn-primary">{{ item.text }}</button>
            <div *ngSwitchCase="'checkbox'" class="checkbox">
              <input type="checkbox" id="checkrads_1">
              <label for="checkrads_1">{{ item.text }}</label>
            </div>
            <div *ngSwitchCase="'radio'" class="radio">
              <input type="radio" name="gridRadios" id="checkrads_9">
              <label for="checkrads_9">{{ item.text }}</label>
            </div>
            <div *ngSwitchCase="'select'" class="select">
              <select id="selects_1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>50000000</option>
                </select>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
</div>
